* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media(max-width:768px){
    .section{
        width:100%;
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-flow: row wrap;
}

.section {
    background-color: white;
    color: black;
    margin: 1px;
    width: 33%;
}

.profile {
    margin:10px;
    background-color: white;
}

#Aboutme {
    background-color: white;
    padding: 50px 30px 35px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid rgb(163, 168, 116);
}

.header {
    background-color: darkseagreen;
    height: 8vh;
}

.nav-link {
    color:white;
}

.nav-list {
    color: orange;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0 20px;
    line-height: 50px;
}

footer {
    background-color: darkseagreen;
    height: 8vh;
}