body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid red;
}

* {
    box-sizing: border-box;
}

.main-container {
    
display: flex;
flex-flow: row wrap;
}

.section {
    width: calc(50%-20px);
}